@use '../../style/variables.scss' as *;

.char {
    &__content {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 650px 425px;
        column-gap: 25px;
        align-items: start;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 200px);
        column-gap: 25px;
        row-gap: 30px;
    }
    &__item {
        width: 200px;
        height: 318px;
        background-color: transparent;
        border: 1px solid $indigo;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);
        padding: 15px;
        cursor: pointer;
        transition: 0.3s transform;
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            transform: translate(-15px, -15px);
        }
        &_selected {
            box-shadow: 0 5px 20px $indigo;
            transform: translateY(-8px);
        }
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
        text-transform: uppercase;
        color: #000;
    }
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px) scale(0.95); // немного выше и меньше
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1); // на место и нормальный размер
  transition: opacity 600ms ease, transform 600ms ease;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px) scale(0.95); // уходит вниз и уменьшается
  transition: opacity 600ms ease, transform 600ms ease;
}
