@use './variables' as *;

.button {
    min-width: 101px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s transform;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &__long {
        display: block;
        width: 170px;
        margin: 45px auto 0 auto;
    }
    .inner {
        position: relative;
        background-color: $main-color;
        line-height: 18px;
        padding: 8px 18px;
        transition: none;
        border-radius: 20px;
    }
    &__main, &__secondary {
        &:hover {
            color: #fff;
        }
    }
    &__secondary {
        .inner {
            background-color: $indigo;
            &::before {
                border-color: $indigo transparent;
                transition: none;
            }
            &::after {
                border-color: $indigo transparent; 
                transition: none;
            }
        }
    }
    &.button__main::before, &.button__main::after {
        background-color: $main-color;
    }
    &.button__secondary::before, &.button__secondary::after {
        background-color: $indigo;
    }
    &:hover {
        transform: translateY(-5px);
    }
    &:disabled{
        filter: grayscale(.5);
    }
}